.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    align-items: center;
    padding: 32px;
}

form.login-form {
    padding: 30px !important;
    border: 1px solid green;
    border-radius: 20px;
    position: relative;
    bottom: 100px;
    width: 100%;
}

form.login-form.error{
    border-color: red;
}
